@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "KoHo", sans-serif; */
  /* font-family: "Lato", sans-serif; */
  font-family: "Inter", sans-serif;
}

input::-webkit-calendar-picker-indicator {
  color-scheme: dark;
  font-size: larger;
}
